body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  height: 69px;
  background-color: black;
}

.logo {
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

nav {
  margin-right: 10px;
}

nav a {
  color: seashell;
  text-decoration: underline;
  padding: 0px 10px;
}
